{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}<span class="byline author vcard">Posted by <a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author">{{ author }}</a></span>{% endif %} •  {% if page.tags %}Tags: 
{% for t in page.tags %}
	<a href="/tags/{{ t }}">{{ t }}</a>
	{% if forloop.last %}
	{% else %},{% endif %}
{% endfor %}{% endif %}
