<ul class="main-navigation">
<li><a href="{{ root_url }}/">Home</a></li>
<li><a href="{{ root_url }}/page/about/">About Me</a></li>
<li><a href="{{ root_url }}/page/portofolio/">Portofolio</a></li>
<li><a href="{{ root_url }}/blog/categories/linux/">Linux</a></li>
<li><a href="{{ root_url }}/blog/categories/programming/">Programming</a></li>
<li><a href="{{ root_url }}/blog/categories/mobile/">Mobile</a></li>
<li><a href="{{ root_url }}/blog/categories/database/">Database</a></li>
<li><a href="{{ root_url }}/blog/categories/design/">Design</a></li>
<li><a href="{{ root_url }}/blog/categories/other/">Other</a></li>
<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul>
